.dialog {
  display:          flex;
  align-items:      center;
  justify-content:  center;
  flex:             0 0 auto;
  position:         absolute;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index:          100;
  user-select:      none;
}

.dialog-instance {
  user-select: text;
  position:    relative;
}

.dialog-instance-close {
}

.dialog-instance-close:before {
  content: "X";
  cursor: pointer;
}
